{% extends "registration/auth_base.html" %}
{% block title %}Log In | Medical Student Tracker{% endblock %}
{% block hero_title %}Medical Student Tracker{% endblock %}
{% block hero_text %}Track and review student academic progress from one secure internal platform.{% endblock %}
{% block form_eyebrow %}Log In{% endblock %}
{% block form_title %}Staff sign in{% endblock %}
{% block form_text %}Use your assigned username and password to open the appropriate dashboard for your role.{% endblock %}
{% block form_body %}
<form method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <ul class="non-field-errors">
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <label>
        Username
        <input type="text" name="username" value="{{ form.username.value|default:'' }}" autocomplete="username" autofocus>
        {% if form.username.errors %}<ul class="field-errors">{% for error in form.username.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
    </label>
    <label>
        Password
        <input type="password" name="password" autocomplete="current-password">
        {% if form.password.errors %}<ul class="field-errors">{% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
    </label>
    {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
    <div class="actions">
        <a href="{% url 'password_reset' %}">Forgot password?</a>
        <button class="button" type="submit">Log in</button>
    </div>
</form>
<div class="meta login-meta">Access requests are available only to members of the Faculty of Medicine, Sabaragamuwa University of Sri Lanka.</div>
<form method="post" class="request-access-form" onsubmit="return confirm('Access requests are limited to members of the Faculty of Medicine, Sabaragamuwa University of Sri Lanka. Do you want to send this request for administrator review?');">
    {% csrf_token %}
    <input type="hidden" name="action" value="request_access">
    <button class="button button-secondary" type="submit">Request access</button>
</form>
{% endblock %}
