{% extends "registration/auth_base.html" %}
{% block title %}Password Updated | Medical Student Tracker{% endblock %}
{% block form_eyebrow %}Password Updated{% endblock %}
{% block form_title %}Your password has been changed{% endblock %}
{% block form_text %}You can now return to the login page and sign in with your new password.{% endblock %}
{% block form_body %}
<div class="messages">
    <div class="message success">Password reset complete. Your staff account is ready to use again.</div>
</div>
<div class="actions">
    <a class="button" href="{% url 'login' %}">Go to login</a>
</div>
{% endblock %}
